@{
    var url = Request.Url.AbsolutePath;
}
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="@Html.Raw(url.ToLower()=="/employee/index" ? "active" : "")"><a href="/Employee/Index">交易管理</a></li>
        <li class="@Html.Raw(url.ToLower()=="/order/index" ? "active" : "")"><a href="/Order/Index">结算管理</a></li>
        <li class="@Html.Raw(url.ToLower()=="/order/index" ? "active" : "")"><a href="/Order/Index">财务明细</a></li>
        <li class="@Html.Raw(url.ToLower()=="/order/index" ? "active" : "")"><a href="/Order/Index">业务管理</a></li>
    </ul>
</div>

