<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">LOGO 师傅帮运营管理平台</a>
            <a class="navbar-brand" href="#">您好:@_54Bang.Web.Admin.Authentication.UserContext.Current.UserName 欢迎登录系统！</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Help</a></li>
                <li><a href="/home/Logout">退出</a></li>
            </ul>
        </div>
    </div>
</nav>
