@{
    var url = Request.Url.AbsolutePath;
}
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="@Html.Raw(url.ToLower()=="/employee/index" ? "active" : "")"><a href="/Employee/Index">师傅管理</a></li>
        <li class="@Html.Raw(url.ToLower()=="/order/index" ? "active" : "")"><a href="/Order/Index">业务管理</a></li>
        <li class="@Html.Raw(url.ToLower()=="/order/settlement" ? "active" : "")"><a href="/Order/Settlement">结算管理</a></li>
        <li class="@Html.Raw(url.ToLower()=="/order/emporder" ? "active" : "")"><a href="/Order/EmpOrder">师傅交易统计</a></li>
    </ul>
</div>

