@{
    ViewBag.Title = "结算管理";
    
}

<h2 class="sub-header">结算管理</h2>
<form>
    <div class="row">
        地区:<select id="sel_City" class="form-control" style="display: inline; width: 120px;">
            <option value="-1">全部</option>
            @foreach (var item in Bang.Business.BaseDataManager.GetCityList())
            {
                <option value="@item.Key">@item.Value</option>
            }
        </select>
        &nbsp;&nbsp;&nbsp;一级公司账户:<input type="text" id="txt_Company" value="" class="form-control" style="display: inline; width: 120px;" />
        &nbsp;&nbsp;&nbsp;二级师傅账户:<input type="text" id="txt_CompanyEmp" value="" class="form-control" style="display: inline; width: 120px;" />
        &nbsp;&nbsp;&nbsp;结算单号:<input type="text" id="txt_SettlementNum" value="" class="form-control" style="display: inline; width: 120px;" />
        &nbsp;&nbsp;&nbsp;起止时间:<input id="date_start" class="form-control" style="display: inline; width: 100px;" type="text" onclick="WdatePicker()" />-<input id="date_end" type="text" onclick="    WdatePicker()" class="form-control" style="display: inline; width: 100px;" />
        结算状态:<select id="sel_SettlementStatus" class="form-control" style="display: inline; width: 120px;">
            <option selected value="-1">全部</option>
            <option value="已复核">已复核</option>
            <option value="打款完成">打款完成</option>
        </select>
    </div>
    <div class="row" style="margin-top: 5px;">
        <div class="col-md-8" style="text-align: center">
            <input type="button" id="btn_Query" class="btn btn-default" value="查&nbsp;&nbsp;&nbsp;&nbsp;询" />
        </div>
    </div>
</form>
<h4 class="sub-header"><a id="downloadList" class="btn btn-default" href="#" role="button">下载列表</a> 结算金额：￥12222.00 手续费金额合计：122.00
总笔数：123
</h4>
<div id="div_DataList">
    Loading...
</div>
<script type="text/javascript">
    var isClickPagerBtn = false;
    function bang_pb_callback_fn(index) {
        isClickPagerBtn = true;
        $("#btn_Query").click();
        isClickPagerBtn = false;
    }
    $(function () {
        //查询
        $("#btn_Query").on("click", function () {
            var pageIndex = $("#pb_new_index").length == 0 ? 1 : $("#pb_new_index").val();
            if (isClickPagerBtn == false) {
                pageIndex = 1;
            }
            var postData = {
                city: $("#sel_City option:selected").val(),
                company: $("#txt_Company").val(),
                companyEmp: $("#txt_CompanyEmp").val(),
                settlementNum: $("#txt_SettlementNum").val(),
                startDate: $("#date_start").val(),
                endDate: $("#date_end").val(),
                settlementStatus: $("#sel_SettlementStatus option:selected").val(),
                pageIndex: pageIndex
            };
            alert(JSON.stringify(postData))
            $("#btn_Query").attr("disabled", true);
            $.ajax({
                type: 'post',
                url: "/Order/SettlementQuery",
                data: postData,
                success: function (data) {
                    $("#btn_Query").removeAttr("disabled");
                    $("#div_DataList").html(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#btn_Query").removeAttr("disabled");
                    alert("系统异常，请稍后再试！");
                }
            });
        })

        $("#btn_Query").click();
    });
</script>

