@{
    Layout = null;
}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>序号</th>
                <th>师傅账户</th>
                <th>姓名</th>
                <th>账户状态</th>
                <th>信用等级</th>
                <th>注册时间</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>序号</th>
                <td>师傅账户</td>
                <td>姓名</td>
                <td>账户状态</td>
                <td>信用等级</td>
                <td>注册时间</td>
            </tr>
            <tr>
                <td>序号</td>
                <td>师傅账户</td>
                <td>姓名</td>
                <td>账户状态</td>
                <td>信用等级</td>
                <td>注册时间</td>
            </tr>
            <tr>
                <td>序号</td>
                <td>师傅账户</td>
                <td>姓名</td>
                <td>账户状态</td>
                <td>信用等级</td>
                <td>注册时间</td>
            </tr>
    </table>
</div>
@Html.Partial("PageBar", new Bang.Models.PageBarInfoModel { PageSize = ViewBag.PageSize, RecordCount = ViewBag.RecordCount, CurrentIndex = ViewBag.CurrentIndex })