@{
    Layout = null;
}


<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>序号</th>
                <th>用户账户</th>
                <th>昵称</th>
                <th>注册日期</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>序号</td>
                <td>用户账户</td>
                <td>昵称</td>
                <td>注册日期</td>
            </tr>
            <tr>
                <td>序号</td>
                <td>用户账户</td>
                <td>昵称</td>
                <td>注册日期</td>
            </tr>
            <tr>
                <td>序号</td>
                <td>用户账户</td>
                <td>昵称</td>
                <td>注册日期</td>
            </tr>
    </table>
</div>
@Html.Partial("PageBar", new Bang.Models.PageBarInfoModel { PageSize = ViewBag.PageSize, RecordCount = ViewBag.RecordCount, CurrentIndex = ViewBag.CurrentIndex })
