@{
    Layout = null;
}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>序号</th>
                <th>师傅账户</th>
                <th>师傅姓名</th>
                <th>订单数量</th>
                <th>交易金额</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>序号</td>
                <td>师傅账户</td>
                <td>师傅姓名</td>
                <td>订单数量</td>
                <td>交易金额</td>
            </tr>
            <tr>
                <td>序号</td>
                <td>师傅账户</td>
                <td>师傅姓名</td>
                <td>订单数量</td>
                <td>交易金额</td>
            </tr>
            <tr>
                <td>序号</td>
                <td>师傅账户</td>
                <td>师傅姓名</td>
                <td>订单数量</td>
                <td>交易金额</td>
            </tr>
    </table>
</div>
