@{
    ViewBag.Title = "业务管理";
}

<h2 class="sub-header">业务管理</h2>

<div class="row">
    <div class="col-md-2">
        机构名称:asdfasdfasdf
    </div>
    <div class="col-md-3">起止日期:<input id="date_start" class="form-control" style="display: inline; width: 100px;" type="text" onclick="WdatePicker()" />-<input id="date_end" type="text" onclick="    WdatePicker()" class="form-control" style="display: inline; width: 100px;" /></div>
    <div class="col-md-2">
        师傅账户:<input type="text" id="txt_EmpAccount" value="" class="form-control" style="display: inline; width: 120px;" />
    </div>
</div>
<div class="row" style="margin-top: 4px;">
    <div class="col-md-2">
        订单状态:<select id="sel_Status" class="form-control" style="display: inline; width: 120px;">
            <option value="全部">全部</option>
            <option value="服务中">服务中</option>
            <option value="等待支付">等待支付</option>
            <option value="服务已完成">服务已完成</option>
            <option value="已取消">已取消</option>
            <option value="待退款">待退款</option>
        </select>
    </div>
    <div class="col-md-2">
        服务分类:<select id="sel_ServiceType" class="form-control" style="display: inline; width: 120px;">
            <option selected value="全部">全部</option>
            <option value="管道维修">管道维修</option>
            <option value="上门洗车">上门洗车</option>
            <option value="装修改造">装修改造</option>
            <option value="家具">家具</option>
            <option value="家用电器">家用电器</option>
            <option value="手机电脑">手机电脑</option>
            <option value="跑腿代办">跑腿代办</option>
            <option value="开锁换锁">开锁换锁</option>
            <option value="保洁家政">保洁家政</option>
            <option value="其他">其他</option>
        </select>
    </div>
</div>
<div class="row" style="margin-top: 5px;">
    <div class="col-md-8" style="text-align: center">
        <input type="button" id="btn_Query" class="btn btn-default" value="查&nbsp;&nbsp;&nbsp;&nbsp;询" />
    </div>
</div>

<h4 class="sub-header"><a id="downloadList" class="btn btn-default" href="#" role="button">下载列表</a></h4>
<div id="div_DataList">
    Loading...
</div>
<script type="text/javascript">
    function bang_pb_callback_fn(index) {
        $("#btn_Query").click();
    }

    $(function () {
        $("#btn_Query").on("click", function () {
            var pi = $("#pb_new_index").length == 0 ? 1 : $("#pb_new_index").val();
            var postData = {
                startDate: $("#date_start").val(),
                endDate: $("#date_end").val(),
                empAccount: $("#txt_EmpAccount").val(),
                serviceType: $("#sel_ServiceType option:selected").val(),
                status: $("#sel_Status option:selected").val(),
                pageIndex: pi
            };
            alert(JSON.stringify(postData))
            $("#btn_Query").attr("disabled", true);
            $.ajax({
                type: 'post',
                url: "/Order/Query",
                data: postData,
                success: function (data) {
                    $("#btn_Query").removeAttr("disabled");
                    $("#div_DataList").html(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#btn_Query").removeAttr("disabled");
                    alert("系统异常，请稍后再试！" + errorThrown);
                }
            });
        })


        bang_pb_callback_fn(1);
    })
</script>
