@{
    Layout = null;
}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>序号</th>
                <th>交易流水号</th>
                <th>业务类型</th>
                <th>交易时间</th>
                <th>业务状态</th>
                <th>交易额</th>
                <th>手续费</th>
                <th>补贴费</th>
                <th>交易对方</th>
                <th>客户</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>序号</td>
                <td>交易流水号</td>
                <td>业务类型</td>
                <td>交易时间</td>
                <td>业务状态</td>
                <td>交易额</td>
                <td>手续费</td>
                <td>补贴费</td>
                <td>交易对方</td>
                <td>客户</td>
            </tr>
            <tr>
                <td>序号</td>
                <td>交易流水号</td>
                <td>业务类型</td>
                <td>交易时间</td>
                <td>业务状态</td>
                <td>交易额</td>
                <td>手续费</td>
                <td>补贴费</td>
                <td>交易对方</td>
                <td>客户</td>
            </tr>
            <tr>
                <td>序号</td>
                <td>交易流水号</td>
                <td>业务类型</td>
                <td>交易时间</td>
                <td>业务状态</td>
                <td>交易额</td>
                <td>手续费</td>
                <td>补贴费</td>
                <td>交易对方</td>
                <td>客户</td>
            </tr>
    </table>
</div>
@Html.Partial("PageBar", new Bang.Models.PageBarInfoModel { PageSize = ViewBag.PageSize, RecordCount = ViewBag.RecordCount, CurrentIndex = ViewBag.CurrentIndex })
